@font-face { 
	font-family: Tamil; 
	src: url('../TSCu_Paranar.ttf'); 
}

.nameList li{
font-family: Tamil;
font-size: 18px;
}

.ui-header {
	font-family: Tamil;
}

.ui-header h1.ui-title {
	font-size: 18px;
	margin-bottom: 2px;
}

.ui-header h4.ui-title {
	font-size: 10px;
	margin-top: 0px;
	margin-bottom: 4px;
}

